/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.seasons ul{
    width:100%;
	float:left;
	list-style-type:none;
	margin:0 0 0 0;
}
.seasons ul li{
    float:left;
}
.seasons ul li a{
    width:100%;
	float:left;
	padding:20px;
	color:#22364b;
	font-size:20px;
	font-weight:300;
}
.seasons ul .current a{
    background:#22364b;
	color:#fff;
}